<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>雷龙文化发展-制片服务</title>
<!-- Bootstrap -->
<link href="../css/bootstrap-4.0.0.css" rel="stylesheet">
<link href="../css/srx-common.css" rel="stylesheet">
<link href="../css/srx-service.css" rel="stylesheet">
</head>
<body>
<section>
<div class="container-fluid bg-f8f8f8 padding-0">
  <div class="container">
    <div class="row" style="padding-top: 20px;padding-bottom: 20px;">
      <div class="col-sm-3 col-md-3 col-lg-3 col-12">
        <a href="/">
          <img src="../images/logo.png" alt="雷龙文化发展" style="height: 60px;">
        </a>
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9 col-12" style="padding-top: 10px;">
        <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse channel-nav" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                首页 <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                关于我们
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                制片服务
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                  宣传片
                </a>
                <a class="dropdown-item active" href="#">
                  动画片
                </a>
                <a class="dropdown-item" href="#">
                  微电影
                </a>
                <a class="dropdown-item" href="#">
                  广告片
                </a>
                <a class="dropdown-item" href="#">
                  记录片
                </a>
                <a class="dropdown-item" href="#">
                  专题片
                </a>
                <a class="dropdown-item" href="#">
                  教学视频
                </a>
                <a class="dropdown-item" href="#">
                  互动多媒体
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                文化创投
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                新闻
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                联系
              </a>
            </li>
          </ul>
        </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="../images/channel/service.gif" alt="" style="width: 100%;">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-12">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="">
            <h6 class="my-0">宣传片</h6>
            <small class="text-muted">Brief description</small>
          </a>
          <span class="text-muted">12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="">
            <h6 class="my-0">动画片</h6>
            <small class="text-muted">Brief description</small>
          </a>
          <span class="text-muted">8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="">
            <h6 class="my-0">微电影</h6>
            <small class="text-muted">Brief description</small>
          </a>
          <span class="text-muted">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <a href="" class="text-success">
            <h6 class="my-0">广告片</h6>
            <small>EXAMPLECODE</small>
          </a>
          <span class="text-success">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="">
            <h6 class="my-0">记录片</h6>
            <small class="text-muted">Brief description</small>
          </a>
          <span class="text-muted">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="">
            <h6 class="my-0">专题片</h6>
            <small class="text-muted">Brief description</small>
          </a>
          <span class="text-muted">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="">
            <h6 class="my-0">教学视频</h6>
            <small class="text-muted">Brief description</small>
          </a>
          <span class="text-muted">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="">
            <h6 class="my-0">互动多媒体</h6>
            <small class="text-muted">Brief description</small>
          </a>
          <span class="text-muted">5</span>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-12">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-home" aria-hidden="true"></i>
          <a href="#">
            首页
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">
            制片服务
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">宣传片</li>
      </ol>
      </nav>
      <div class="channel-item-list">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="../images/400X200.gif" style="width: 150px;height: 100px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="">
                Media heading
              </a>
            </h4>
            <p class="small"> 《关于地方机构改革有关问题的指导意见》、《关于加强国有企业资产负债约束的指导意见》、《推进中央党政机关和事业单位经营性国有资产集中统一监管试点实施意见》……
              <a href="">
                [more…]
              </a>
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="../images/400X200.gif" style="width: 150px;height: 100px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="">
                Media heading
              </a>
            </h4>
            <p class="small"> 会议指出，加强国有企业资产负债约束，是落实党的十九大精神，推动国有企业降杠杆、防范化解国有企业债务风险的重要举措。要坚持全覆盖与分类管理相结合，完善内部治理与强化外部约束相结……
              <a href="">
                [more…]
              </a>
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="../images/400X200.gif" style="width: 150px;height: 100px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="">
                Media heading
              </a>
            </h4>
            <p class="small"> 面深化改革委员会主任习近平5月11日下午主持召开中央全面深化改革委员会第二次会议并发表重要讲话。他强调，党的十九届三中全会以来，中央和国家机关机构改革取得重大进展，要注意边实践、边总结，把好经验运用好，周密组织地方机构改革，使中央和地方机构改革在工作部署、组织实施上有机衔接、有序推……
              <a href="">
                [more…]
              </a>
            </p>
          </div>
        </div>
		  
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="../images/400X200.gif" style="width: 150px;height: 100px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="">
                Media heading
              </a>
            </h4>
            <p class="small"> 面深化改革委员会主任习近平5月11日下午主持召开中央全面深化改革委员会第二次会议并发表重要讲话。他强调，党的十九届三中全会以来，中央和国家机关机构改革取得重大进展，要注意边实践、边总结，把好经验运用好，周密组织地方机构改革，使中央和地方机构改革在工作部署、组织实施上有机衔接、有序推……
              <a href="">
                [more…]
              </a>
            </p>
          </div>
        </div>
		  
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="../images/400X200.gif" style="width: 150px;height: 100px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="">
                Media heading
              </a>
            </h4>
            <p class="small"> 面深化改革委员会主任习近平5月11日下午主持召开中央全面深化改革委员会第二次会议并发表重要讲话。他强调，党的十九届三中全会以来，中央和国家机关机构改革取得重大进展，要注意边实践、边总结，把好经验运用好，周密组织地方机构改革，使中央和地方机构改革在工作部署、组织实施上有机衔接、有序推……
              <a href="">
                [more…]
              </a>
            </p>
          </div>
        </div>
		  
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="../images/400X200.gif" style="width: 150px;height: 100px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="">
                Media heading
              </a>
            </h4>
            <p class="small"> 面深化改革委员会主任习近平5月11日下午主持召开中央全面深化改革委员会第二次会议并发表重要讲话。他强调，党的十九届三中全会以来，中央和国家机关机构改革取得重大进展，要注意边实践、边总结，把好经验运用好，周密组织地方机构改革，使中央和地方机构改革在工作部署、组织实施上有机衔接、有序推……
              <a href="">
                [more…]
              </a>
            </p>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">上一页</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">下一页</a>
    </li>
  </ul>
</nav>
    </div>
  </div>
</div>
</section>
<footer class="text-center">
<hr>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Copyright © 雷龙文化发展. All rights reserved.</p>
    </div>
  </div>
</div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.0.0.js"></script>
</body>
</html>