<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>雷龙文化发展-关于我们</title>
<!-- Bootstrap -->
<link href="../../css/bootstrap-4.0.0.css" rel="stylesheet">
<link href="../../css/srx-common.css" rel="stylesheet">
<link href="../../css/srx-service-content.css" rel="stylesheet">
</head>
<body>
<section>
<div class="container-fluid bg-f8f8f8 padding-0">
  <div class="container">
    <div class="row" style="padding-top: 20px;padding-bottom: 20px;">
      <div class="col-sm-3 col-md-3 col-lg-3 col-12">
        <a href="/">
          <img src="../../images/logo.png" alt="雷龙文化发展" style="height: 60px;">
        </a>
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9 col-12" style="padding-top: 10px;">
        <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse channel-nav" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                首页 <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                关于我们
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                制片服务
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                  宣传片
                </a>
                <a class="dropdown-item" href="#">
                  动画片
                </a>
                <a class="dropdown-item" href="#">
                  微电影
                </a>
                <a class="dropdown-item" href="#">
                  广告片
                </a>
                <a class="dropdown-item" href="#">
                  记录片
                </a>
                <a class="dropdown-item" href="#">
                  专题片
                </a>
                <a class="dropdown-item" href="#">
                  教学视频
                </a>
                <a class="dropdown-item" href="#">
                  互动多媒体
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                文化创投
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                新闻
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                联系
              </a>
            </li>
          </ul>
        </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="../../images/channel/aboutus.gif" alt="" style="width: 100%;">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-home" aria-hidden="true"></i>
          <a href="#">
            首页
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">
            制片服务
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">宣传片:ssssss</li>
      </ol>
      </nav>
      <div class="content-container">
        <div class="title"> 广西雷龙文化发展有限公司 </div>
        <div class="content-info"> 时间：2018-5-25 12：45&nbsp;&nbsp;&nbsp;&nbsp;作者：系统管理员&nbsp;&nbsp;&nbsp;&nbsp;来源：原创 </div>
        <div class="content-body"> 
			<div class="content-video">
			sddsds
			</div>
			
			广西雷龙文化发展有限公司，早期一直专注于影视动漫的制作和研究，通过十多年的技术沉淀和多年的市场服务经验，进一步的发展成为一家集动漫、影视、VR、游戏及周边娱乐、旅游等产品开发为一体的文化创意产业公司。 </div>
      </div>
    </div>
  </div>
</div>
</section>
<footer class="text-center">
<hr>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Copyright © 雷龙文化发展. All rights reserved.</p>
    </div>
  </div>
</div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap-4.0.0.js"></script>
</body>
</html>